@charset "UTF-8";
body {overflow-x: hidden;}
.rowMain {
	margin:0 auto 0 auto;
	padding:20px 0 30px 0; max-width:960px
}
.rowMain:after {content: "";
    display: table;
    clear: both;
}
.main_news {
	margin:0 auto;
	background-color:rgba(15,15,15,0.95);
	position:relative;
	height:400px;
	max-width:922px; 
}
.main_news a {color:white;text-decoration:none}
.main_news img {
	border-radius: 0px;
	object-fit: cover;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
	opacity:0.35;
}
.main_news h3 {
	font:normal bold 24px Helvetica;
	text-shadow:1px 1px 0px rgba(0, 0, 0, 1);
	top:140px;
	position:relative;
	padding: 0 5%;
	margin-top: 5%;
	text-transform:uppercase;
	max-width:470px;
}
.main_news p {
	font:normal normal 14px Verdana;
	text-shadow:1px 1px 0px rgba(0, 0, 0, 1);
	position:relative;
	padding-left:5%;
	color:white;
	width:245px;
	top:140px;
}
.column {
	margin-left:20px;
	display: flex;
	flex-direction: column;
	float:left;
	margin-bottom: 20px;
}
.content {
	background-color:white;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 5px 18px 0 rgba(0, 0, 0, 0.19);
	position:relative;
	width:295px; 
	margin:18px 0px 0 0;
	text-align: center;
}
.content a {
	text-decoration:none;
	color: white;
}
.content p:hover {
	text-decoration:none;
	transition: .5s;
	background-color:silver;
}
.content p {
	top:17px;
	padding-top:7px;
	background:#4C94FF;
	text-align: center;
	text-transform:uppercase;
	height:29px;
	font:normal bold 14px DidactGothic;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 5px 18px 0 rgba(0, 0, 0, 0.19);
	position:relative;
}
.content h2 {
	overflow: hidden;
	padding:4px 4px 4px 4px;
	font:normal normal 14px HelveticaLight;
	position:relative;
	margin-left:7px;
	color:rgb(100,100,100);
	
}
.content h3 {
	border-bottom:1px solid silver;
	text-transform:uppercase;
	padding:18px 4px 4px 4px;
	font:normal normal 10px OpenSans;
	margin-top:95px;
	margin-left:7px;
	color:rgb(30,30,30);
}
.content h4 {
	text-transform:uppercase;
	overflow: hidden;
	padding:18px 4px 4px 4px;
	font:normal bold 17px IstokWeb;
	top:105px;
	position:relative;
	margin-top:95px;
	margin-left:7px;
	color:rgb(30,30,30);
}
.content img {
	object-fit:cover;
	position:absolute;
    top:0;
    left:0;
	width:100%;
	height:210px;
}
.popular {float: left;
margin-top: 28px;
margin-left: 30px;
background-color: white;
box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 5px 18px 0 rgba(0, 0, 0, 0.19);
width: 280px;
padding-bottom: 10px;
}
.popular a {text-decoration:none;
font: normal normal 14px HelveticaLight;

color: rgb(11,11,11);


}
.popular a:hover {text-decoration:none;
font: normal normal 14px HelveticaLight;
	transition: .5s;
color: #4C94DD;


}
.popular h2 {

font-weight: normal;

font: normal normal 14px HelveticaLight;

color: #0177D9;
display: contents;

margin-bottom: 20px;


}
.popular p {
font: normal normal 14px HelveticaLight;

color: rgb(10,10,10);

margin-top: -5px;

margin-left: 9%;

width: 77%;

padding-bottom: 2%;

border-bottom: 0.9px solid;

    border-bottom-color: currentcolor;

border-bottom-color: currentcolor;

border-color: #dadada;

float: left;
}
.popular h3 {font:normal bold 18px Arial;background:#0980E0;
	margin-top:-10px;
	padding-top:6px;
	padding-bottom:6px;
	text-align:center;
	color:white;
}