@charset "UTF-8";
body {
	overflow-x: hidden;
}
.row {
	width: 100% !important;
	margin: 0 !important;
}
.main_news {
	margin:0 auto;
	background-color:rgb(15,15,15,0.95);
	position:relative;
	height:400px;
	/* width:922px; */
}
.main_news a {
	color:white;
	text-decoration:none;
}
.main_news img {
	   border-radius: 1px;
   object-fit: cover;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
	opacity:0.35;
}
.main_news h3 {
	font:normal bold 24px Helvetica;
	text-shadow:1px 1px 0px rgba(0, 0, 0, 1);
	top:140px;
	position:relative;
	padding: 0 5%;
	margin-top: 5%;
	text-transform:uppercase;
	/* width:470px; */
}
.main_news p {
	font:normal normal 14px Verdana;
	text-shadow:1px 1px 0px rgba(0, 0, 0, 1);
	position:relative;
	padding-left:5%;
	color:white;
	width:245px;
	top:140px;
}
.roww {
    box-sizing: border-box;
	margin:0 auto 0 auto;
	padding:20px 0 30px 0;
	/* width:660px; */
}
.roww:after {
    content: "";
    display: table;
    clear: both;
}
.column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: 20px;
	/* float:left; */
}
.content {
	/* right:130px; */
	background-color:white;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 5px 18px 0 rgba(0, 0, 0, 0.19);
	position:relative;
	/* width:295px; */
	margin:18px 0px 0 0;
	text-align: center;
}
.content a {
	text-decoration:none;
	color: white;
}
.content p:hover {
	text-decoration:none;
	background-color:silver;
}
.content p {
	top:14px;
	padding-top:10px;
	background:#4C94FF;
	text-align: center;
	text-transform:uppercase;
	height:35px;
	font:normal bold 14px DidactGothic;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 5px 18px 0 rgba(0, 0, 0, 0.19);
	position:relative;
}
.content h2 {
	overflow: hidden;
	padding:4px 4px 4px 4px;
	font:normal normal 14px HelveticaLight;
	position:relative;
	margin-left:7px;
	color:rgb(100,100,100);
}
.content h3 {
	border-bottom:1px solid silver;
	text-transform:uppercase;
	padding:18px 4px 4px 4px;
	font:normal normal 10px OpenSans;
	position:relative;
	margin-top:95px;
	margin-left:7px;
	color:rgb(30,30,30);
}
.content h4 {
	text-transform:uppercase;
	overflow: hidden;
	padding:18px 4px 4px 4px;
	font:normal bold 17px IstokWeb;
	top:105px;
	position:relative;
	margin-top:95px;
	margin-left:7px;
	color:rgb(30,30,30);
}
.content img {
	object-fit:cover;
	position:absolute;
    top:0;
    left:0;
	width:100%;
	height:210px;
}
.popular {
	/* display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	float:left;
	margin-top:28px; */
	/* margin-left:510px; */
	background-color:white;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 5px 18px 0 rgba(0, 0, 0, 0.19);
	position:absolute;
	width:280px;
	top: 696px;
	right: 20px;
	/* padding-bottom:10px; */
}
.popular p {
	font:normal normal 16px HelveticaLight;
	color:rgb(10,10,10);
	margin-top:-5px;
	margin-left:10%;
	width:74%;
	padding-bottom:2%;
	border-bottom:1px solid;
	border-color:#dadada;
}
.popular h3 {
	margin-top:10px;
	font:normal bold 18px Arial;
	background:#0980E0;
		margin-top:-10px;

	padding-top:6px;
	padding-bottom:6px;
	text-align:center;
	color:white;
}
