.rowProfile {
	margin:0 auto 0 auto;


	padding:20px 0 30px 0;
	max-width:500px;

}
.rowProfile:after {
    content: "";
    display: table;
    clear: both;
}
.column {
	

}
.content {
	background-color:white;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 5px 17px 0 rgba(0, 0, 0, 0.19);
	position:relative;
	margin:18px 0 20px 0;
}
.form2 h1 {
	text-align: center;
	font: normal normal 18px HelveticaLight;
padding-top: 10px;

}
.form2 hr {
 border: none; /* Убираем границу */
    background-color: rgb(192, 192, 192); /* Цвет линии */
   color: rgb(192, 192, 192); /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
}
.form2 p {text-align: center;
font: normal normal 14px HelveticaLight;
	display: block;
}
.form2 input[type=text]{
	font-size: medium;
	-webkit-transition:.5s;
	transition:.5s;
	font-weight:lighter;
	color:#858585;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 5px;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom:1px solid rgba(0,0,0,.1);
	text-align: center;
	margin: 0 auto;
	width: 70%;
	display: block;
}
.form2 input[type=file]{
	text-align: center;
	margin: 0 auto;
	display: block;
}
.form2 input[type=submit]{
	text-align: center;
	margin: 15px auto 0 auto;
	display: block;
}


.form2 input[type=text]:hover,
.form2 input[type=text]:focus,
.form2 input[type=text]:active:focus{
    color:#4C94FF;
    outline:none;
    border-bottom:1px solid #4C94FF;
  }