<!doctype html>
<html>
	<head>
		<!-- Basic
		================================================== -->
		<meta charset="utf-8">
		<!-- CSS
		================================================== -->
		<link href="/css/base.css" rel="stylesheet" type="text/css">
		<link href="/css/feedback.css" rel="stylesheet" type="text/css">
		<!-- JS
		================================================== -->		
		<script src="/scripts/jquery-3.2.1.min.js"></script>
		<script src="/scripts/pace.min.js"></script>
		<script src="/scripts/main.js"></script>
		<script src="/scripts/client-smtp.js"></script>
		<script>
			function pageLoaded() {
				document.getElementById('hfeedback').className = 'active';
			}
			function sendFeedBack() {
				var uData = { 
					name: document.getElementById('cName').value,
					email: document.getElementById('cEmail').value,
					text: document.getElementById('cMessage').value
				};
				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						window.alert('Сообщение отправлено');
						document.getElementById('cName').value = '';
						document.getElementById('cEmail').value = '';
						document.getElementById('cMessage').value = '';
					} else if (this.readyState == 4 && this.status == 400) {
						window.alert('Неверный Email');
					}
				};
				xhttp.open("POST", "/api/feedback", true);
				xhttp.setRequestHeader("Content-type", "text/plain");
				xhttp.send(JSON.stringify(uData));
			}
		</script>
	</head>
	<body onload='pageLoaded()'>
		<div class="logo">
			<% include header %>
		</div>
		
		<div class="row">
		
			<div class="column">
			
				<form name="cForm" id="cForm" action='javascript:sendFeedBack()'>
                   
						<h1>Напишите нам!</h1>
                        <div class="form-field">
                            <input name="cName" type="text" id="cName" class="full-width" placeholder="Ваше имя" value="">
                        </div>

                        <div class="form-field">
                            <input name="cEmail" type="text" id="cEmail" class="full-width" placeholder="Email" value="">
                        </div>
                        <div class="message form-field">
                        <textarea name="cMessage" id="cMessage" class="full-width" placeholder="Сообщение" ></textarea>
                        </div>

                        <button class="submit btn btn--primary full-width">SUBMIT</button>

                </form> <!-- end form -->	
			</div>
		</div>
		<% include footer %>
</body>
</html>
