<!DOCTYPE html>
<html lang="ru">
	<head>
		<!-- Basic
		================================================== -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- CSS
		================================================== -->
		<link href="/css/base.css" rel="stylesheet" type="text/css">
		<link href="/css/main.css" rel="stylesheet" type="text/css">
		<link href="/css/media.css" rel="stylesheet" type="text/css">
		<link href="/css/feedback.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"> -->
		<!-- JS
		================================================== -->
		<script src="/scripts/jquery-3.2.1.min.js"></script>
		<script src="/scripts/pace.min.js"></script>
		<script src="/scripts/main.js"></script>
		<script src="/scripts/client-smtp.js"></script>
		<script>
			function pageLoaded() {
				document.getElementById('hfeedback').className = 'active';
			}
			function sendFeedBack() {
				var uData = {
					name: document.getElementById('cName').value,
					email: document.getElementById('cEmail').value,
					text: document.getElementById('cMessage').value
				};
				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						window.alert('Сообщение отправлено');
						document.getElementById('cName').value = '';
						document.getElementById('cEmail').value = '';
						document.getElementById('cMessage').value = '';
					} else if (this.readyState == 4 && this.status == 400) {
						window.alert('Неверный Email');
					}
				};
				xhttp.open("POST", "/api/feedback", true);
				xhttp.setRequestHeader("Content-type", "text/plain");
				xhttp.send(JSON.stringify(uData));
			}
		</script>
	</head>
	<body onload='pageLoaded()'>
		<div class="logo">
			<% include header %>
		</div>

		<div class="container-fluid">
			<div class="row">

				<div class="col-md-12">
					<div class="column">

				<form name="cForm" id="cForm" action='javascript:sendFeedBack()'>

						<h1>Напишите нам!</h1>
						<div class="form-field">
						<input name="cName" type="text" id="cName" class="full-width" placeholder="Ваше имя" value="">
						</div>

						<div class="form-field">
						<input name="cEmail" type="text" id="cEmail" class="full-width" placeholder="Email" value="">
						</div>
						<div class="message form-field">
						<textarea name="cMessage" id="cMessage" class="full-width" placeholder="Сообщение" ></textarea>
						</div>


                        <button class="submit btn btn--primary full-width">SUBMIT</button>


                </form> <!-- end form -->
			</div>
		</div>
		<% include footer %>
</body>

<!-- asset bootstrap -->
<!-- <script src="/assets/js/bootstrap.min.js" type="application/javascript"></script> -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>

