<footer class="footer">
	<div class="copyright1">
		<p>Если выхотите получать сообщения о новостях нашего сайта, то вам следует подписаться на обновления!</p>
        <form id="mc-form" action='javascript:onSubscribe()' novalidate="true">

            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                
            <input type="submit" name="subscribe" value="Подписаться">
                
            <label for="mc-email" class="subscribe-message"></label>
                
        </form>
	</div>
</footer>
					
<div id="preloader">
	<div id="loader">
		<div class="line-scale">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</div>
