<h1 class="title">IT NEWS</h1>
<nav class="menu">
	<ul>
		<li id='hnews'><a href='/'>Новости</a></li>
		<li id='hreviews'><a href='/'>Обзоры</a></li>
		<li id='hpopular'><a href='/'>Популярное</a></li>
		<li id='hfeedback'><a href='/feedback'>Обратная связь</a></li>
	</ul>
</nav>