<h1 class="title">IT NEWS</h1>
<nav class="menu">
	<ul>
		<li><a href="http://localhost">Новости</a></li>
		<li><a href="">Обзоры</a></li>
		<li><a href="">Популярное</a></li>
		<li><a href="http://localhost/feedback">Обратная связь</a></li>
	</ul>
</nav>