<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		<h1 class="title">IT NEWS</h1>
		</div>
	</div>
</div>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 menu-items">
		<button data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" id="collbut">
		<i class="fas fa-bars"></i>
		</button>
		<nav class="menu" id="collapseExample">

		<!-- <div class="collapse navbar-collapse" id="navbarSupportedContent1"> -->
		<ul>
		<li id='hnews'><a href='/'>Главная страница</a></li>
		<li id='hall'><a href='/all'>Все новости</a></li>
		<li id='hfeedback'><a href='/feedback'>Обратная связь</a></li>
		<li id='hEnter'><a href="#dialog" id="modal"></>Авторизация</a></li>
		<li id='hExit'><a href="#" onclick="logOut()"></>Выход</a></li>
		<li id='hExit2'><a href="#" onclick="logOut2()"></>Выход</a></li>

		</ul>
		<!-- </div> -->
		</nav>
		</div>
	</div>
</div>
