<!DOCTYPE html>
<html lang="ru">
	<head>
		<!-- Basic
		================================================== -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>IT-News - Главная страница</title>
		<!-- CSS
		================================================== -->
		<link href="/css/base.css" rel="stylesheet" type="text/css">
		<link href="/css/main.css" rel="stylesheet" type="text/css">
		<link href="/css/media.css" rel="stylesheet" type="text/css">
		<!-- JS
		================================================== -->
		<script src="/scripts/jquery-3.2.1.min.js"></script>
		<script src="/scripts/pace.min.js"></script>
		<script src="/scripts/client.js"></script>
		<script src="/scripts/main.js"></script>
		<script>
			function pageLoaded() {
				document.getElementById('hnews').className = 'active';
				loadHeadTitle();
				loadMainPageTitles();
				loadPopular();
			}
		</script>
	</head>
	<body onload='pageLoaded()'>
		<div class="logo">
			<% include header %>
			<div class="container-fluid">
				<section>
					<article class="main_news"/>
				</section>
			</div>
		</div>
		<div class="container-fluid">
			<div class="rowMain">
				<div id="leftCol" class="column"></div>
				<div id="rightCol" class="column"></div>
				<div class="popular"></div>
			</div>
		</div>
		<% include footer %>
	</body>
</html>