<!doctype html>
<html>
	<head>
		<!-- Basic
		================================================== -->
		<meta charset="utf-8">
		<!-- CSS
		================================================== -->
		<link href="/css/base.css" rel="stylesheet" type="text/css">
		<link href="/css/main.css" rel="stylesheet" type="text/css">
		<!-- JS
		================================================== -->		
		<script src="/scripts/jquery-3.2.1.min.js"></script>
		<script src="/scripts/pace.min.js"></script>
		<script src="/scripts/client.js"></script>		
		<script src="/scripts/main.js"></script>
		<script>
			function pageLoaded() {
				document.getElementById('hnews').className = 'active';
				loadHeadTitle();
				loadMainPageTitles();
			}
		</script>
	</head>
	<body onload='pageLoaded()'>
	
		<div class="logo">
			<% include header %>
			<section>
				<article class="main_news" >
				</article>
			</section>
		</div>
		<div class="row">
			<div class="popular">
				<h3>ПОПУЛЯРНОЕ</h3>
				<p>В США оценили ущерб от "вредоностной киберактивности"...</p>
				<p>Корпус Hdplex H3 V2 предназначен...</p>
			</div>
			<div id="leftCol" class="column">
			</div>
			<div id="rightCol" class="column">
			</div>
		</div>
		<% include footer %>
</body>
</html>
