<!DOCTYPE html>
<html lang="ru">
	<head>
		<!-- Basic
		================================================== -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- CSS
		================================================== -->
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/css/base.css" rel="stylesheet" type="text/css">
		<link href="/css/main.css" rel="stylesheet" type="text/css">
		<link href="/css/media.css" rel="stylesheet" type="text/css">
		<link href="/css/news.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous"> 
		<!-- <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"> -->
		<!-- JS
		================================================== -->
		<script src="/scripts/jquery-3.2.1.min.js"></script>
		<script src="/scripts/pace.min.js"></script>
		<script src="/scripts/main.js"></script>
		<script src="/scripts/client.js"></script>
		<script src="/scripts/client-smtp.js"></script>
		<script>
		$(document).ready(function() {   
			$('#modal').click(function(e) {
			e.preventDefault();
			var id = $(this).attr('href');
			var maskHeight = $(document).height();
			var maskWidth = $(window).width();
			$('#mask').css({'width':maskWidth,'height':maskHeight});
			$('#mask').fadeIn(900); 
			$('#mask').fadeTo("slow",0.7); 
			var winH = $(window).height();
			var winW = $(window).width();
			$(id).css('top',  winH/2-$(id).height()/2);
			$(id).css('left', winW/2-$(id).width()/2);
			$(id).fadeIn(1800); 
			});
			$('.window .close1').click(function (e) { 
			e.preventDefault();
			$('#mask, .window').hide();
			}); 
			$('#mask').click(function () {
			$(this).hide();
			$('.window').hide();
			}); 
		   });  
		</script>
		<script>
			var tID = <%= tID %>;
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</head>
	<body onload='myLoad(tID)'>

	<!-- Само окно -->
	<div id="boxes">  
	<div id="dialog" class="window"> Текст модального окна
	<div class="top"><a href="#" class="link close1"/><img src="http://s1.iconbird.com/ico/2013/10/464/w512h5121380984637delete1.png"/ width="20" height="20"></a></div>
	<div class="content2">
		<p>Логин</p> <input type="text" id="uname"/>
		<p>Пароль</p> <input type="password" id="psw"/>
		<p id="logInfo"></p>
		<input type="button" id="Login" value="Войти" onclick='logIn()'/>
		<input type="button" id="Register" value="Зарегистрироваться" onclick='regNew()'/>
	</div>
	</div>
	</div>
	<!-- Маска, затемняющая фон -->
	<div id="mask"></div>
		<div class="logo">
			<% include header %>
		</div>

			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 col-md-1"></div>
					<div class="col-lg-6 col-md-10 col-sm-12">
						<div class="column">
							<div id='tContent' class="content">
							<%- include(title) %>
							</div>
							<a href="#dialog" id="modal">Войти</a>
							<p id='loginarea'>Jackety-jack</p>
							<p id='comments'></p>
							<p id='nocommentstext'></p>
							<textarea id="textfield" name="textfield" type="text" rows="8" columns="32" placeholder="Напечатайте свой комментарий здесь..."></textarea>
							<br>
							<button id="sendBtn" onclick='postComm(tID)' disabled>Отправить</button>
						</div>
					</div>
					<div class="col-lg-3 col-md-1"></div>
				</div>
			</div>
		<% include footer %>
	</body>
<!-- asset bootstrap -->
<!-- <script src="/assets/js/bootstrap.min.js" type="application/javascript"></script> -->
</html>