<!DOCTYPE html>
<html lang="ru">
	<head>
		<!-- Basic
		================================================== -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- CSS
		================================================== -->
		<link href="/css/base.css" rel="stylesheet" type="text/css">
		<link href="/css/main.css" rel="stylesheet" type="text/css">
		<link href="/css/media.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
		<!-- <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"> -->
		<!-- JS
		================================================== -->
		<script src="/scripts/jquery-3.2.1.min.js"></script>
		<script src="/scripts/pace.min.js"></script>
		<script src="/scripts/main.js"></script>
		<script src="/scripts/client.js"></script>
		<script>
			var tID = <%= tID %>;
		</script>
	</head>
	<body onload='myLoad(tID)'>

		<div class="logo">
			<% include header %>
		</div>

		<div class="roww">
			<div class="column">
				<div id='tContent' class="content">
				<%- include(title) %>
				</div>
				<p id='loginarea'>Jackety-jack</p>
				<p id='comments'></p>
				<textarea id="textfield" name="textfield" type="text" rows="8" columns="32"
					placeholder="Напечатайте свой комментарий здесь..."></textarea>
				<br>
				<button id="sendBtn" onclick='postComm(tID)' disabled>Отправить</button>
			</div>
		</div>
		<% include footer %>
</body>

<!-- asset bootstrap -->
<!-- <script src="/assets/js/bootstrap.min.js" type="application/javascript"></script> -->
</html>
