<!DOCTYPE html>
<html lang="ru">
	<head>
		<!-- Basic
		================================================== -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- CSS
		================================================== -->
		<link href="/css/base.css" rel="stylesheet" type="text/css">
		<link href="/css/main.css" rel="stylesheet" type="text/css">
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<!-- JS
		================================================== -->
		<script src="/scripts/jquery-3.2.1.min.js"></script>
		<script src="/scripts/pace.min.js"></script>
		<script src="/scripts/main.js"></script>
		<script src="/scripts/profile.js"></script>
		<script>
			function profileLoad() {
				var ulStatus = <%= ulStatus %>;
				if (ulStatus == false)
					window.alert('Загрузка не выполнена');
				if (ulStatus == true)
					window.alert('Загрузка выполнена!');
				pLoad();
			}
		</script>
	</head>
	<body onload='profileLoad()'>

		<div class="logo">
			<% include header %>
		</div>

		<div id='pcontent' class="roww"></div>
		<% include footer %>
</body>

<!-- asset bootstrap -->
<script src="/assets/js/bootstrap.min.js" type="application/javascript"></script>
</html>
