<h2>
Специалисты аналитической компании Strategy Analytics подготовили отчет о продажах сотовых телефонов в 88 странах мира, начиная с 2003 года. Документ также включает прогноз на период до 2023 года.
</h2>
<h2>
По мнению аналитиков, хотя смартфоны с поддержкой сетей 5G появятся на рынке в начале 2019 года, их продажи начнут набирать обороты не раньше 2021 года, когда доля таких аппаратов составит 5% от всего объема поставок.
</h2>
<h2>
Распространению будет препятствовать отсутствие сетей 5G, более высокая цена самих устройств и отсутствие сценариев использования, в которых реально видны преимущества технологии 5G.
</h2>
<h2>
К 2021 году в ключевых странах Азии и Северной Америки сети 5G покроют многие городские регионы, сделав приобретение смартфона с поддержкой 5G более оправданным. Цены на устройства к тому времени снизятся. Это приведет к популяризации технологии.
</h2>
<h2>
И все же наиболее популярными даже в 2023 году будут оставаться модели с поддержкой 4G. Интересно, что аналитики прогнозируют долгую жизнь и телефонам 2G, хотя модели с поддержкой 3G отойдут в тень. Спрос на терминалы 2G обеспечат пользователи из развивающихся стран, прежде всего, африканских, покупающие свой первый сотовый телефон. Ожидается, что в 2023 году, когда продажи смартфонов 5G уже будут быстро расти, каждый десятый аппарат, проданный в мире, все еще будет представлять собой сотовый телефон 2G.
</h2>
