<h2>
<b>Death Stranding</b>
<br>
Одна из самых загадочных игр от Kojima Productions, тизер которой был впервые представлен на E3 2016. Затем на различных мероприятиях было представлено ещё несколько захватывающих трейлеров, которые множили только вопросы, но не ответы.
В разработке игры принимают участие такие актёры, как Норман Ридус, Мадс Миккельсен, а также режиссёр Гильермо Дель Торо.
Из твиттера Хидэо Кодзимы уже известно, что на E3 2018 будет представлен новый трейлер игры Death Stranding.
</h2>
<h2>
<b>Rage 2</b>
<br>
Недавно анонсированный шутер от первого лица, который окунёт нас в постапокалиптический мир будущего, где царит страх и беззаконие. Игроку будет предложено великое многообразие оружия, куча перестрелок и гонок, а главный герой будет обладать сверхспособностями. 
Первый трейлер от Bethesda был опубликован совсем недавно, а на E3 студия обещает ещё больше информации и деталей.
</h2>
<h2>
<b>Beyond Good & Evil 2</b>
<br>
Игра от Ubisoft была представлена на E3 2017 и является приквелом Beyond Good & Evil 2003 года. Совсем недавно, в начале мая, разработчики провели стрим, где показали раннюю версию игры, в том числе боевую часть и полёт космических кораблей. Также из трансляции стало известно, что разработчики предоставят нам новую информацию об игре на E3 2018.
</h2>
<h2>
<b>Call of Duty: Black Ops 4</b>
<br>
Call of Duty: Black Ops IIII (как она значится на официальном логотипе) — традиционный в серии шутер от первого лица, где упор будет сделан на мультиплеер. В игре будет доступен стандартный режим Zombies, а также некое подобие «королевской битвы» (привет, PUBG) – Blackout, в котором будут доступны локации и персонажи из прошлых частей серии.
Новая часть популярной игровой серии уже имеет дату выхода — 12 октября 2018 года.
</h2>
<h2>
<b>Battlefield 5</b>
<br>
Премьера новой части состоится 23 мая, а пока что мы имеем только небольшой тизер, где на фоне боевых действий воин загадочно прислоняет палец к губам. Остаётся только гадать, что именно это значит. Однако судя по внешнему виду бойца, действие игры будет происходить в прошлом (скорее всего, в двадцатом веке).
</h2>
<h2>
<b>The Last of Us Part 2</b>
<br>
Анонс игры состоялся на пресс-конференции PlayStation Experience в декабре 2016 года, где был показан трейлер со знакомыми нам героями, а в 2017 мы увидели ужасающий трейлер с расправой. Разработчики игры из Naughty Dog обещают, что поделятся с игроками большей частью информации на E3 2018, но на сегодняшний момент уже известно, что играть мы будем за Элли.
</h2>