<h2>
В прошлом году глава мобильного подразделения Samsung подтвердил, что компания работает над смартфоном со сгибающимся дисплеем, планируя его выпуск в конце 2018 года.
</h2>
<h2>
Позже было объявлено, что выпуск инновационного устройства откладывается на 2019 год. Главной проблемой представители Samsung называли создание интуитивного и удобного пользовательского интерфейса. Представитель Qualcomm, который является специалистом в технологиях дисплеев, заявил, что подобный смартфон от Samsung точно не выйдет в ближайшее время, несмотря на многочисленные слухи.
</h2>
<h2>
Салман Саид (Salman Saeed) уверен, что до появления смартфона со сгибающимся дисплеем, а также других устройств с экранами переменной диагонали могут пройти годы. Проблема заключается не только в пользовательском интерфейса, но и в надежности конструкции. Салман Саид уверяет, что сегодняшние прототипы гибких дисплеев являются слабым звеном, добавляя, что они попросту не выдерживают необходимое количество циклов сгибания/разгибания.
</h2>
<h2>
По его словам, производители дисплеев пока не достигли того уровня развития технологий, чтобы подобные экраны появились в коммерческих решениях.
</h2>
