<h2>
Помимо варианта с «законсервированной» Radeon RX 580, вы встретите версии Gaming Box с предустановленными GeForce GTX 1070 (GV-N1070IXEB-8GD — 47 000 рублей) и GeForce GTX 1080 (GV-N1080IXEB-8GD — 50 000 рублей). Получается, модель GV-RX580IXEB-8GD является самой медленной среди доступных в продаже «коробов». К сожалению, на момент написания данной статьи этот бокс в продаже не встречался.
</h2>
<h2>
Набор поставляется вместе с тряпичной сумкой-переноской. Устройство весит чуть больше двух килограммов, так что транспортировать его действительно очень просто — это оказывается кстати, если, например, вам захочется поиграть на даче. Или же сходить к другу на LAN-вечеринку. Также в комплекте идут кабель питания, 50-сантиметровый кабель Thunderbolt 3, компакт-диск с программным обеспечением и бумажное руководство пользователя.
</h2>
<h2>
Корпус целиком выполнен из стали, на которую нанесена черная матовая краска. Материал используется практичный, но пыль GIGABYTE RX 580 Gaming Box притягивает — будь здоров. В системе используется четыре вентилятора, а значит, пыльного воздуха она прогоняет через себя предостаточно. Боковые стенки оснащены сетчатой решеткой. Через них прохладный воздух забирают видеокарта и блок питания мощностью 450 Вт. Графический ускоритель снабжен большой, 130-мм крыльчаткой — такие нагнетатели нетипично видеть в конструкции кулеров видеокарт. Еще три 35-мм «карлсона», работающие на выдув, помогают не перегреваться блоку питания и отвечают за вывод нагретого воздуха за пределы корпуса.
</h2>
<h2>
Тесное знакомство с устройством на протяжении нескольких дней дает мне полное право заявить, что устройство придется постоянно чистить от пыли — раз в полгода уж точно. К счастью, GIGABYTE RX 580 Gaming Box достаточно просто разбирается. Для этого необходимо открутить шесть винтов, расположенных сзади и по бокам, а дальше аккуратно сдвинуть внешнюю крышку.
</h2>
