<h2>
Глава игрового подразделения Sony Джон Кодера рассказал, что за первый месяц с момента релиза God of War продано более 5 млн. копий.
</h2>
<h2>
Ранее сообщалось, что за 3 дня удалось реализовать более 3,1 млн. копий игры. Проект уже признан самым быстро продаваемым эксклюзивом за всю историю PlayStation. В середине 2012 года Sony говорила, что предыдущие похождения Кратоса в God of War 3 разошлись тиражом в 5,2 млн. копий.
</h2>
<h2>
Для сравнения, за год с момента релиза Horizon: Zero Dawn называлась цифра продаж 7,6 млн., а за полтора года Uncharted 4 - 8,7 млн. . Вряд ли у вышеуказанных проектов есть шансы сохранить лидерские позиции перед напором новичка студии Santa Monica. 
</h2>
