<h2>
Описанную нашим соотечественником с псевдонимом Traktor победу в категории GeForce GTX 460 некоторые критики восприняли не как курьёзный случай, а как недостаточно высокий результат для попадания на главную страницу профильного сайта. За товарища тут же вступился другой российский энтузиаст с позывным 12, который славится своими экспериментами с системами фазового перехода.
</h2>
<h2>
Родственную видеокарту GeForce GTS 450 он после модификации напряжения на GPU до 1,3 В разогнал при помощи системы фазового перехода одноступенчатого типа до 1200/4800 МГц, а температура графического процессора не превышала минус 40-50 градусов Цельсия. За разгон центрального процессора Core i5-8600K отвечала вторая система фазового перехода каскадного типа, она обеспечила активность шести ядер на частоте 6.1 ГГц.
</h2>
<h2>
В ряде тестов это позволило россиянину занять первые места в модельном зачёте, и подобные результаты уже сложно назвать неубедительными, хотя фантастическими их не берётся считать и сам автор. Скромность украшает любого человека, даже если он амбициозный и неутомимый оверклокер.
</h2>
