<h2>
Итак, по словам ведущего канала LinusTechTips Линуса Себастиана (Linus Gabriel Sebastian), процессорную гонку в первом квартале выиграл флагманский процессор семейства Intel Coffee Lake-S — Core i7-8700K. По сравнению с предшественником Core i7-7700K, он получил два дополнительных ядра и в полтора раза больше L3-кеша при вполне сопоставимой цене. Следующие три места, со 2-го по 4-е, заняли процессоры Ryzen, причём APU Ryzen 5 2400G оказался вторым по популярности чипом от AMD вслед за Ryzen 5 1600. В десятку попал и «майнерский» Celeron G3930.
</h2>
<h2>
Доля процессоров AMD в структуре продаж выросла с 29 % до 46 % относительно предыдущей аналогичной выборки.
</h2>
<h2>
Львиная доля покупок видеокарт пришлась на период высокой стоимости Bitcoin и Ethereum. Самым популярным брендом оказался EVGA, а самым востребованным классом ускорителей — GeForce GTX 1060. Стараясь купить мощную карту подешевле, геймеры и майнеры разбирали даже внешние графические адаптеры, как то третий по популярности продукт — Gigabyte Aorus Gaming Box с GeForce GTX 1070 внутри.
</h2>