<h2>
В предназначенном для внутреннего использования документе присутствуют результаты собственных тестов Apple, которые показали, что iPhone 6 сгибается в 3,3 раза легче, чем iPhone 5s, а iPhone 6 Plus — в 7,2 раза.
</h2>
<h2>
Официально Apple так и не признала проблему с тем, что слабая конструкция корпуса iPhone 6 и iPhone 6 Plus подразумевает невысокую прочность устройств на изгиб. Производитель также не признал своей вины в проблеме Touch Disease, которая выражалась в том, что экран смартфона попросту переставал реагировать на касания. Тогда Apple предложила желающим отремонтировать смартфоны за 150 долларов, заявив, что проблема возникает после нескольких падений смартфона на твердую поверхность.
</h2>
<h2>
Однако многие технические специалисты уверены в том, что это происходило, в частности, из-за того, что корпус устройства в какой-то момент изгибался слишком сильно, нарушая работу сенсора. Причем этот изгиб происходил в ходе повседневного использования, когда смартфон, например, находился в кармане пользователя.
</h2>
<h2>
Спустя полтора года после выпуска iPhone 6 и 6 Plus производитель реализовал конструктивные изменения, которые препятствовали нарушению работы сенсорного экрана.
</h2>
<h2>
Данная информация была опубликована судом в ходе продолжающегося разбирательства, в ходе которого Apple обвиняют в том, что она намеренно вводит пользователей в заблуждение по поводу причин возникновения проблемы Touch Disease.
</h2>
