<h2>
Компания Micron Technology в этом году решила поразить своих инвесторов и акционеров гигантизмом, а потому её профильное четырёхчасовое мероприятие было не только тщательно запротоколировано, но ещё и иллюстрировалось презентацией из ста пятидесяти слайдов. Некоторые откровения этого производителя памяти привлекли наше внимание, и начать бы хотелось с амбиций Micron в автомобильном сегменте.
</h2>
<h2>
Перспективный процессор NVIDIA поколения Orin присутствует на иллюстрации не случайно. Хотя прямых свидетельств тому нет, можно предполагать, что именно память типа GDDR6 производства Micron будет использоваться в системах активной помощи водителю, построенных на платформах DRIVE PX будущих поколений. По крайней мере, на одном из слайдов Micron открыто заявляет, что была первой из производителей, предложивших микросхемы GDDR6 "автомобильного класса". Скорее всего, речь идёт о "морозоустойчивых" модификациях этой памяти, которая сейчас уже предлагается клиентам в виде инженерных образцов.
</h2>
<h2>
По прогнозам источников, на которые ссылается Micron, к 2021 году частично или полностью автоматические транспортные средства будут использовать более сорока различных датчиков, до 16 ГБ оперативной памяти и не менее 256 ГБ твердотельной.
</h2>
<h2>
К 2025 году переход на высший уровень автоматизации управления транспортных средств поднимет планку объёма ОЗУ до 74 ГБ, а твердотельного хранилища – до 1 ТБ.
</h2>
<h2>
В ближайшие три года ёмкость рынка автомобильной памяти вырастет в 2,4 раза, этот пусть и относительно небольшой в денежном выражении рынок будет развиваться быстрее остальных.
</h2>
<h2>
Даже на уровне прототипов современные "робомобили" так далеко ушли в развитии, что в прошлом году средний пробег в автоматическом режиме без вмешательства испытателя увеличился до 8953 км, а при благоприятных погодных условиях он почти вдвое больше. Нормальный водитель такого пробега достигает за полгода или год обычной эксплуатации автомобиля.
</h2>
<h2>
Наконец, производитель упоминает и о разработке памяти типа HBM, но этой теме мы посвятим отдельную публикацию. Применять HBM, кстати, компания рассчитывает и в автомобильной отрасли. Постепенно расширяется круг клиентов Micron, которые в автомобилях используют память этой марки не только для информационно-развлекательных систем или мультимедийных приборных панелей. Это и позволяет компании надеяться, что в автомобильном сегменте её ждут прекрасные перспективы.
</h2>
