<img class='imgcol' src='/images/image1.jpg'/>
<h4>NVIDIA подверглась критике</h4>
<h3>Григорий Зотенко</h3>
<h2>
Со времён выпуска первых кристаллов Kepler (GK1xx) в 2012 году NVIDIA не испытывает особых проблем со спросом на свои графические решения. Особенно отчётливо это видно по рынку GPU для мобильных ПК, на котором позиции «зелёных» незыблемы. Отсутствие конкуренции — верный путь к снижению требований к собственной продукции. Поэтому выпуск под названием «GeForce MX150» графических адаптеров с совершенно разным уровнем производительности (о чём не было объявлено заранее) стал пусть и неприятным, но и не таким уж неожиданным событием.
</h2>
<h2>
Согласно статистике ресурса Notebookcheck, разброс результатов тестирования GPU GeForce MX150 с одним и тем же количеством потоковых процессоров Pascal (384 шт.), разрядностью шины памяти (64 бит), объёмом и типом буферной VRAM (2 Гбайт GDDR5) в бенчмарке 3DMark 11/Performance составляет от 2796 до 4742–4775 GPU-очков. Лучшим уровнем быстродействия среди серийных моделей ноутбуков с GeForce MX150 могут похвастаться Acer Swift 3 SF315-51G и MSI PL62 7RC. В то же время многие другие устройства, начиная с Xiaomi Mi Notebook Pro i7/i5 (см. таблицу ниже), заметно отстают. Результат Lenovo Ideapad 320S-13IKB и вовсе едва опережает уровень лэптопов с адаптером GeForce 940MX (в среднем 2574 GPU-очка), в котором используются 384 потоковых процессора архитектуры Maxwell.
</h2>
<h2>
Низкие результаты можно объяснить разными частотными формулами, различиями в компоновке систем охлаждения ноутбуков и жёсткими ограничениями уровня TDP графической подсистемы. Но дело не только и не столько в этом. Энтузиастам Notebookcheck удалось выяснить, что часть лэптопов с ядрами, обозначенными как «GeForce MX150», оснащаются не обычной, а экономичной или, попросту говоря, замедленной версией ускорителя.
</h2>
<h2>
В показавшем хороший результат в 3DMark 11 Performance — 4582 GPU-очка — ноутбуке Lenovo Ideapad 320-15IKBRN задействован видеоадаптер GeForce MX150 с идентификатором 1D10 и частотами 1469–1532/1502(6008) МГц для ядра и памяти соответственно. Максимальный показатель, согласно базе результатов notebookcheck.net, для той же конфигурации (SoC Core i5-8250U, полноценная версия GeForce MX150, без разгона) составляет 4631 GPU-очко на ноутбуке HP Envy 17-ae143ng. В свою очередь, абсолютно лучший результат — 4775 GPU-очков — демонстрирует мобильная OEM-платформа Clevo N855H1 с 35-Вт процессором Core i3-7100H.
</h2>
<h2>
Вывести аутсайдера Lenovo Ideapad 320S-13IKB (2574 GPU-очка) на чистую воду коллегам оказалось довольно просто: утилита TechPowerUp GPU-Z обнаружила у его GeForce MX150 с идентификатором 1D12 частотную формулу 937–1038/1253(5012) МГц (ядро/память), которая даже приблизительно не соответствует обычным значениям частот, указанным выше. Поэтому желающие поиграть на подобном импровизированном «GeForce MX150 Max-Q» при штатном для Ideapad 320S-13IKB разрешении 1920 × 1080 точек, скорее всего, будут весьма разочарованы.
</h2>
<h2>
На официальном сайте NVIDIA спецификация GeForce MX150 изложена крайне скупо и не позволяет предъявить разработчику какие-либо претензии. Данная модель имеет оценку «до 4 баллов» относительно встроенного в тело SoC Intel Core i5-7200U адаптера HD 620. Как нетрудно догадаться, в уравнении x≤4 число x совсем не обязательно равно четырём.
</h2>
<h2>
Никакого намёка на пониженные частоты у MX150 в 13,3-дюймовой версии ноутбука Ideapad 320S нет и на официальном сайте Lenovo. Разумеется, Ideapad 320S-13IKB толщиной 16,9 мм — не единственная модель мобильного ПК с той же проблемой. Замедленный вариант GeForce MX150 (1D12) используют как минимум следующие пять устройств:
•	ASUS ZenBook 13 UX331UA (толщина 13,9 мм);
•	ASUS ZenBook 13 UX331UN (толщина 13,9 мм);
•	HP Envy 13-ad006ng (толщина 13,9 мм);
•	Lenovo ThinkPad T480s-20L8S02E00 (толщина 18,45 мм);
•	Xiaomi Mi Notebook Air 13.3 (2018) (толщина 14,8 мм).
</h2>
<h2>
Можно не сомневаться, что до конца года вышеприведённый список пополнится новыми моделями ноутбуков с «GeForce MX150 Max-Q», многие владельцы которых будут пребывать в неведении относительно производительности графической подсистемы (как минимум до запуска ресурсоёмких игр в Full HD). Быть может, в итоге в NVIDIA всё-таки сочтут нужным предупредить геймеров о том, что производительность GeForce MX150 1D12 совсем не соответствует таковой у MX150 1D10. Однако вероятность такого сценария невелика. В заключение отметим, что ядро MX150 1D12 вполне может использоваться не только в лэптопах малой и средней толщины, но и в более «упитанных» устройствах, ведь замедленный GPU наверняка стоит дешевле для производителя устройства, чем обычный.
</h2>
