<img class='imgcol' src='/images/image3.jpeg'/>
<h4>Выкусите, ФСБ и РКН</h4>
<h3>Григорий Зотенко</h3>
<h2>
Кроссплатформенная программа для мгновенного обмена сообщениями Telegram была запущена в августе 2013 года. Около двух лет назад стало известно о 100 млн активных пользователей и 15 млрд ежедневно пересылаемых сообщений.
</h2>
<h2>
На этой неделе было объявлено о том, что база активных ежемесячных пользователей Telegram составляет 200 млн человек.
</h2>
<h2>
Чтобы отпраздновать эту отметку, компания выпустила обновление для Android и iOS, которое, в частности, упрощает поиск новых стикеров.
</h2>
<h2>
Кроме того, теперь у пользователей появилась возможность отправки нескольких изображений одновременно. В версии для iOS появился автоматический переход в ночной режим, которые ранее стал доступен для Android.
</h2>
<h2>
Наконец, приложения были оптимизированы, чтобы использовать меньше энергии аккумуляторов мобильных устройств.
</h2>
