<h2>
Ресурс «ТАСС» сообщает о том, что Роскомнадзор оценил отток пользователей Telegram на территории России.
</h2>
<h2>
едомство считает, что мессенджер потерял около 25% российской аудитории и рекламы в связи с блокировкой. Перебои в работе затрагивают 15-40% пользователей ежедневно. По словам Жарова, порядка 11 млн IP-адресов в РФ блокируются в связи с ограничением работы Telegram, изначально их было более 20 млн.
</h2>
<h2>
Напомним, недавно стало известно, что процесс блокировки Telegram происходит на основе не вступившего в силу решения суда.
</h2>
<h2>
Отдельно стоит отметить, что Роскомнадзор до декабря текущего года намерен провести комплексную проверку Facebook и, возможно, WhatsApp.
</h2>
