<h2>
Недавно компания Valve анонсировала приложение Steam Link, которое позволяет пользователям транслировать игры из Steam на мобильные устройства. Бета-версия приложения уже доступна пользователям Android, но на iOS его пока нет.
</h2>
<h2>
По словам Valve, компании запретили выложить приложение в App Store, а попытка оспорить это решение успехом не увенчалась.
</h2>
<h2>
Valve утверждает, что Apple одобрила приложение 7 мая, когда состоялся анонс Steam Link для iOS и Android. На следующий день Apple отозвала разрешение на выпуск Steam Link для iOS. Valve попыталась оспорить это решение, но Apple отказалась выпустить Steam Link в App Store.
</h2>
<h2>
Когда появится iOS-версия Steam Link и появится ли она вообще, неизвестно.
</h2>
