<img class='imgcol' src='/images/untitled-1.jpg'/>
<h4>ASRock X470 Fatal1ty Gaming ITX/AC Motherboard Photos</h4>
<h3>Anton Drugalev</h3>
<h2>
The refresh Ryzen 2000 generation is getting closer, various motherboard manufacturers are hard at work prepping their X470 chipset based motherboards, and some of you have had strong hopes for Mini ITX motherboards. Well, your question has been answered.
</h2>
<h2>
ASRock is to release the Fatal1ty Gaming ITX/AC motherboard, as you can see from the videocardz leak, this is an Mini ITX motherboard with an all dark (nice) black design and RGB lighting, definitely a nice aesthetic upgrade from the X370 version. 
</h2>
<h2>
The photos show two ddr4 memory locks, one metal reinforced PCIe x16 slot (the upper two of which reinforced with metal), four SATA connectors, as well as an m.2 slot that is located at the backside of the PCB. The board gets an 8-pin eps power connection and also will offer AC wifi.</h2>